<!DOCTYPE html>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SnapSpots</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="icon" href="/pics/snapspotslogoclear.png" type="image/png" sizes="18x16">
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<!--<h1><a href="index.html">SnapSpots</a></h1>-->
							<a href="/"><img src="/pics/titlewlogowhite.png" alt="Home"></a>
					</div>
						<!-- Nav -->
							<!--<nav id="nav">-->
							<!--	<ul>-->
							<!--		<li class="current"><a href="index.html">Home</a></li>-->
							<!--		<li>-->
							<!--			<a href="#">Dropdown</a>-->
							<!--			<ul>-->
							<!--				<li><a href="#">Lorem ipsum dolor</a></li>-->
							<!--				<li><a href="#">Magna phasellus</a></li>-->
							<!--				<li><a href="#">Etiam dolore nisl</a></li>-->
							<!--				<li>-->
							<!--					<a href="#">Phasellus consequat</a>-->
							<!--					<ul>-->
							<!--						<li><a href="#">Magna phasellus</a></li>-->
							<!--						<li><a href="#">Etiam dolore nisl</a></li>-->
							<!--						<li><a href="#">Veroeros feugiat</a></li>-->
							<!--						<li><a href="#">Nisl sed aliquam</a></li>-->
							<!--						<li><a href="#">Dolore adipiscing</a></li>-->
							<!--					</ul>-->
							<!--				</li>-->
							<!--				<li><a href="#">Veroeros feugiat</a></li>-->
							<!--			</ul>-->
							<!--		</li>-->
							<!--		<li><a href="left-sidebar.html">Left Sidebar</a></li>-->
							<!--		<li><a href="right-sidebar.html">Right Sidebar</a></li>-->
							<!--		<li><a href="no-sidebar.html">No Sidebar</a></li>-->
							<!--	</ul>-->
							<!--</nav>-->

						<!-- Banner -->
							<section id="banner">
								<header>
									<h2>Having trouble finding cool places to take photos?</h2>
									<p>We've got you.</p>
								</header>
							</section>

						<!-- Intro -->
							<section id="intro" class="container">
								<div class="row">
									<div class="4u 12u(mobile)">
										<section class="first">
											<i class="icon featured fa-camera-retro"></i>
											<header>
												<h2>Photographers</h2>
											</header>
											<p>Looking for abandoned buildings, scenic views, landmarks, etc.?  Whether you're a hobby photographer or a pro, you've come to the right place!</p>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="middle">
											<i class="icon featured alt fa-instagram"></i>
											<header>
												<h2>Social Media Influencers</h2>
											</header>
											<p>Need a cool backdrop for a modeling photo?  A colorful mural to fit your account's aesthetic?  We'll help you find it all.</p>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="last">
											<i class="icon featured alt2 fa-picture-o"></i>
											<header>
												<h2>Just about anybody else!</h2>
											</header>
											<p>We can help you find whatever you need, from <strong>filming locations</strong> to gorgeous <strong>family portrait areas</strong> and more!</p>
										</section>
									</div>
								</div>
								<footer>
									<ul class="actions">
										<li><a href="#main-wrapper" class="button big">Get Started</a></li>
										<!--<li><a href="#" class="button alt big">Learn More</a></li>-->
									</ul>
								</footer>
							</section>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Location Searches</h2>
										</header>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
													<header>
														<h3>Scenic Views</h3>
													</header>
													<p>Locations with the best views located in any area!</p>
													<footer>
														<a href="onesearch.erb" class="button alt" style="background-color:#34e2b4;">Search</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
													<header>
														<h3>Custom Search</h3>
													</header>
													<p>Bridges?  Cityscapes?  Streets?  Find pretty much any subject you need here.</p>
													<footer>
														<a href="twosearch.erb" class="button alt" style="background-color:#ff4962;">Search</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
													<header>
														<h3>Murals</h3>
													</header>
													<p>The coolest murals near you (these are especially ideal for social media!)</p>
													<footer>
														<a href="threesearch.erb" class="button alt" style="background-color:#ff89c6;">Search</a>
													</footer>
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
													<header>
														<h3>Popular Places</h3>
													</header>
													<p>Yelp's list of the most popular places to take photos in any location.</p>
													<footer>
														<a href="foursearch.erb" class="button alt" style="background-color:purple;">Search</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
													<header>
														<h3>Landmarks & Historical Buildings</h3>
													</header>
													<p>Find notable historical buildings or landmarks near you!</p>
													<footer>
														<a href="fivesearch.erb" class="button alt" style="background-color:#46c9f1;">Search</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
													<header>
														<h3>Nature</h3>
													</header>
													<p>Find nature reserves and other places with trees, flowers, etc.</p>
													<footer>
														<a href="sixsearch.erb" class="button alt" style="background-color:orange;">Search</a>
													</footer>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="12u">


			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
							</div>
							<div class="4u 12u(mobile)">
								<section>
									<header>
										<h2 style="color: black; text-align: center;">Connect with us!</h2>
									</header>
									<ul class="social">
										<li><a class="icon fa-camera" href="https://sophiapuertas.wixsite.com/photography"><span class="label">My Photography Portfolio</span></a></li>
										<li><a class="icon fa-linkedin" href="https://www.linkedin.com/in/sophia-p-19191a125/"><span class="label">LinkedIn</span></a></li>
										<li><a class="icon fa-envelope" href="mailto:spuertas@micds.org?Subject=SnapSpots%20Contact"><span class="label">Email</span></a></li>
										<li><a class="icon fa-github" href="https://github.com/spuertas"><span class="label">Github</span></a></li>
										<li><a class="icon fa-id-card-o" href="sophiapuertas.me"><span class="label">Personal Website</span></a></li>
										<!--<li><a class="icon fa-smile-o" href="#"><span class="label">hi!</span></a></li>-->
									</ul>
								</section>
								<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; SnapSpots. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>
							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>

