<html>
	<head>
		<title>SnapSpots Search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1><a href="index.html">SnapSpots</a></h1>
                <!--    </div>-->
                <!--</div>-->
                <form method="POST" action="results">
  					What area are you in? (city or zip code):<br>
  					<input type="text" name="location">
  					<br>
  					Any other specifications?<br>
  					<input type="text" name="term">
  					<br>
  					<input type="submit" value="Submit"> 
  				</form>
        </div>
	</body>